<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gantt Chart Generator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Gantt Chart Generator</h1>
    <label labelfor="fileInput">Upload Excel File</label>
    <input type="file" id="fileInput" accept=".xlsx, .xls">
    <button id="generate-btn">Generate Gantt Chart</button>

    <script>
        $(document).ready(function() {
            $('#generate-btn').click(function() {
                $.post('/generate', function(response) {
                    alert(response.message);
                });
            });
        });
    </script>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gantt Chart Generator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   
        
        
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
      
    
</head>
<body>
    <div id="hourglass" style="display: none;">
        <div class="spinner"></div>
    </div>
    <header>
        <div class="logo">Tufts Libraries</div> 
     </header>
     <div class="content">
    <h1>Gantt Chart Generator</h1>
    <!--<div>
            
        <label class="label" for="download">Download sample input file:</label>
        <a href="{{ url_for('static', filename='template.xlsx') }}">Download</a>
    </div>-->
        <!--<label for="label" style="width: 10%">Upload Excel File</label>-->
        <input type="text" id="label" placeholder="Enter project year label, e.g. 'FY25'">
        <button id="fetch-btn">Refresh Data</button>
           <!-- New Assignee Dropdown -->
           <label for="assignee-select">Select Assignee:</label>
           <select id="assignee-select">
               <option value="All">All</option>
               <option value="Michael J. Hemment">Michael J. Hemment</option>
               <option value="Henry Steele">Henry Steele</option>

         </select>
         <div class="form-row" style="display: none;" id="download-container">
            <button type="button" id="download-btn">Download Result</button>
        </div>
         <!-- Explanation paragraph -->
         <div id="app-description"><p>
            This app allows you to visualize your projects for a given period of time by allowing you to stack projects that start before the end date of the previous, on the same line  </p><p>While most Gantt charts have a separate row for each project, this chart uses the y-axis, which is normally synonymous with separate projects, as continuous date ranges such that once one project ends, another can begin, on the same line if room for that project fits there. This allows you to see if you are arranging project start and end dates in the optimal way given bandwidth at given times, and adjust start and end dates in respones if that would make better use of your project time.
            </p><p>This instance of the Gantt Chart Generator connects to a JIRA instance for which if you install this app on our own system you will need to get a bearer access token and enter into the .env file.</p>

                <p>It looks for either project start and end dates, or target start and target end.   Since this is at a project level of granularlity, it is looking only for initiatives.</p>

                

<!--<p><strong>Download the template file above to see the format to upload your project file in.</strong>  This file can also be fed into the generator.</p>-->
            </div>

    <div>
        <img id="output" src="" />

    </div>
    <script>
        $(document).ready(function() {
            $('#fetch-btn').click(function() {

    
                $('#hourglass').show();

   
                var label = document.getElementById("label").value;
                var assignee = document.getElementById("assignee-select").value;

                
                //alert("Selected Label: " + label + ", Selected Assignee: " + assignee);
                let list = [];
                if (assignee == "All"){

                    $('#assignee-select option').each(function() {
                    if ($(this).val() !== 'All') {
                        list.push(encodeURIComponent($(this).val()));// This will log each value except "All"
                            // You can add the value to an array or perform other actions here
                        }
                    });
                    
                    assignee = `${list.join('","')}`;
                    

                    
                }

                

                // Using relative path to avoid cross-origin fetch
                $.ajax({
                    url: '/fetchAPI', // Ensure this endpoint is handled by your local server
                    type: 'GET',
                    data: { label: label, assignee: assignee },
                    success: function(response) {
                        //alert(response.message);
                        fetch('/generate', { 
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ projects_df: response }) // Use 'body' to send data
                        })
                        .then(response => response.json()) // Expecting JSON response
                        .then(data => {
                            if (data.status === 'success') {
                                $('#hourglass').hide();
                                $('#app-description').hide();
                                $('#output').attr('src', 'data:image/png;base64,' + data.image_data);
                                $('#output').show();
                                $('#download-btn').off('click').on('click', function () {
                                // Create a Blob from the base64 data and trigger download
                                    const byteCharacters = atob(data.image_data);  // Decode base64 string
                                    const byteNumbers = new Array(byteCharacters.length).fill().map((_, i) => byteCharacters.charCodeAt(i));
                                    const byteArray = new Uint8Array(byteNumbers);
                                    const blob = new Blob([byteArray], { type: 'image/png' });

                                    const url = window.URL.createObjectURL(blob);  // Create Blob URL
                                    const a = document.createElement('a');  // Create <a> element for download
                                    a.href = url;
                                    a.download = 'gantt_chart.png';  // Set download filename
                                    document.body.appendChild(a);
                                    a.click();  // Simulate click to trigger download
                                    document.body.removeChild(a);  // Clean up DOM
                                    window.URL.revokeObjectURL(url);  //
                                })
                            } else {
                                throw new Error('Failed to generate the chart');
                            }
                        })
                        .catch(error => {
                            alert("Error: " + error.message);
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("Failed to fetch data: " + textStatus);
                    }
                });
            });

      
  
});


    </script>

    <script>
    $(document).ready(function() {
        $('#generate-btn').click(function() {
            fetch('/generate', {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    $('#output').attr('src', 'data:image/png;base64,' + response.image_data);
                    $('#output').show();
                    
                    return response.blob(); // Convert the response to a Blob
                } else {
                    throw new Error('Failed to generate the file');
                }
            })
            .then(blob => {
                // Create a temporary URL for the file
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'chart.png';  // Set the file name for download
                document.body.appendChild(a); // Append <a> to body
                
                a.click(); // Trigger the download
                a.remove(); // Remove <a> after download
                window.URL.revokeObjectURL(url); // Clean up the URL object
            })
            .catch(error => {
                alert("Error: " + error.message);
            });
        });
    });
</script>
</div>
</body>
</html>
